/*Color*/
$white: #fff;
$black: #000;
$orange: #ffa800;
$slateBlue: #694fca;
$nobel: #999999;
$mariner: #3b589a;
$whiteSmoke: #f0f0f0;
$gainsboro: #ddd;
$darkOrange: #ff8610;
$ghost: #c4c4c5;
$black01: #010101;
$nobelA2: #a2a2a2;
$nero: #1e1e1e;
$dimGray: #6e6e6e;
$charcoal: #454545;
$nightRider: #2c2c2c;
$nero16: #161616;
$nero21: #212121;

/*Fonts*/
$AbrahamLincoln: "AbrahamLincoln", sans-serif;
$GothamBlack: "GothamBlack", sans-serif;
$MyriadPro: "MyriadPro", sans-serif;
$Lato: "Lato", sans-serif;
$Geo: "Geo", sans-serif;
$Poppins: "Poppins", sans-serif;
$Roboto: "Roboto", sans-serif;
